<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">Voing App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarSupportedContent" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home<span class="sr-only" current></span></a>
      </li>
      <li *ngIf="user" class="nav-item">
        <a class="nav-link" routerLink="/pollform/new">New Poll</a>
      </li>
      <li>
        <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recent Polls</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <!-- Change this to *ngFor once I get polls built -->
          <a class="dropdown-item" routerLink="/pollform/1">Poll 1</a> <!-- this needs to be fixed after testing edit basics -->
          <a class="dropdown-item" href="#">Poll 2</a>
          <a class="dropdown-item" href="#">Poll 3</a>
          <a class="dropdown-item" href="#">Poll 4</a>
          <a class="dropdown-item" href="#">Poll 5</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">More Polls</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 mr-4">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div *ngIf="user">
      <div class="dropdown navbar-nav keep-inline">
        <span class="navbar-text mr-2">Hello {{user.displayName}}</span>
        <a id="navbarDropdownSettings" class="nav-link dropdown-toggle mr-3" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="octicon octicon-gear light"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/Account">Account Info</a>
          <a class="dropdown-item" href="#">My Polls</a>
          <a class="dropdown-item" href="#">My Votes</a>
        </div>
      </div>
    </div>
    <div *ngIf="!user">
      <a class="btn btn-outline-primary nav-link" href="#">Login</a>
    </div>
  </div>
</nav>