<div class="jumbotron">
  <h1>{{ poll.question }}</h1>
  <h4 class="ml-3">by {{ author.displayName }}</h4>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="container ml-3">
        <h2 *ngIf="voting">Select a response!</h2>
        <h2 *ngIf="!voting">Results</h2>
      </div>
    </div>
    <div class="col-sm">
      <div class="container">
        <div class="list-group" role="tablist">
          <a *ngFor="let option of poll.options" id="{{option.id}}" class="list-group-item list-group-item-action" data-toggle="list" role="tab">
            <strong>{{option.text}}</strong>
            <span *ngIf="!voting" class="badge badge-pill badge-info float-right">{{option.voteCount}}</span>
          </a>
        </div>
        <button *ngIf="voting" id="submit-vote" class="btn btn-primary btn-lg float-right mt-2 mr-2" (click)="submitVote()">Submit</button>
        <div id="no-vote" class="invalid-feedback">Please select an option to vote!</div>
      </div>
    </div>
    <div class="col-sm">
      <div id="comment-area" class="container mr-3">
        <ul id="comments" class="list-group">
          <li *ngFor="let comment of comments" class="list-group-item" id="{{comment.id}}">
            <p>{{comment.text}}</p>
            <h6>by {{comment.user}}</h6>
          </li>
        </ul>
        <form class="mt-2 mb-4">
          <div class="form-group">
            <label>Add a new comment</label>
            <textarea id="new-comment-text" class="form-control" rows="3" placeholder="Enter your comment here."></textarea>
            <button id="new-comment-submit" class=" btn btn-primary mt-2 mr-1 float-right" type="submit" (click)="submitComment()">Submit</button>
            <div id="no-text" class="invalid-feedback">You must enter text to add a comment!</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>