<div class="jumbotron">
  <h1>{{ poll.question }}</h1>
  <h4 class="ml-3">by {{ author.displayName }}</h4>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="container ml-3">
        <h2 *ngIf="voting">Select a response!</h2>
        <h2 *ngIf="!voting">Results</h2>
      </div>
    </div>
    <div class="col-sm">
      <div class="container">
        <div class="list-group" role="tablist">
          <a *ngFor="let option of poll.options" id="{{option.id}}" class="list-group-item list-group-item-action" data-toggle="list" role="tab">
            <strong>{{option.text}}</strong>
            <span *ngIf="!voting" class="badge badge-pill badge-info float-right">{{option.voteCount}}</span>
          </a>
        </div>
        <button *ngIf="voting" id="submit-vote" class="btn btn-primary btn-lg float-right mt-2 mr-2" (click)="submitVote()">Submit</button>
        <div id="no-vote" class="invalid-feedback">Please select an option to vote!</div>
      </div>
    </div>
    <div class="col-sm">
      <div class="container mr-3">
        TODO: comments go here
      </div>
    </div>
  </div>
</div>